{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('bundles/beubidemo/images/logo2.png') }}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <link rel="stylesheet" type="text/css" href="http://labs.abeautifulsite.net/jquery-dropdown/jquery.dropdown.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

    {% stylesheets filter='cssrewrite'
        'bundles/beubidemo/css/*'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/beubidemo/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/beubidemo/js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ asset('bundles/beubidemo/images/logo2.png') }}" alt="Demo template">
                    </div>
                    <div class="col-md-9">
                        <span style="color: #68be0a; font-size: 22px; margin-left: -16px; ">Ubi</span>Cycling
                        <span style="color: white; font-size: 22px; "></span>
                    </div>
                </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    {#{% block home %}<li><a href="{{ path('home') }}">Home</a></li>{% endblock %}#}
                    {% block demo_form %}<li><a href="{{ path('workouts') }}">Workouts</a></li>{% endblock %}
                    {#<li class="dropdown  {% block sidebar_toggle %} {% endblock %}">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#{% block sidebar_left %}<li><a href="{{ path('sidebar_left') }}">Left Sidebar</a></li>{% endblock %}#}
                            {#{% block sidebar_right %}<li><a href="{{ path('sidebar_right') }}">Right Sidebar</a></li>{% endblock %}#}
                        {#</ul>#}
                    {#</li>#}
                    {% block contact %}<li><a href="{{ path('contacts') }}">Contacts</a></li>{% endblock %}
                    {% block about %}<li><a href="{{ path('about') }}">About</a></li>{% endblock %}
                    {% block signin %}<li><a class="btn" href="{{ path('signin') }}">Sign In / Sign Up</a></li>{% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    {% block content %}

    {% endblock content %}

    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>+234 23 9873237<br>
                                <a href="mailto:#">some.email@somewhere.com</a><br>
                                <br>
                                234 Hidden Pond Road, Ashland City, TN 37015
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Follow me</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">Text widget</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="{{ path('home') }}">Home</a> |
                                <a href="{{ path('about') }}">About</a> |
                                <a href="{{ path('sidebar_right') }}">Sidebar</a> |
                                <a href="{{ path('contacts') }}">Contact</a> |
                                <b><a href="{{ path('signup') }}">Sign up</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2015, <a href="http://beubi.com/" rel="designer">Ubiprism</a>
                            </p>
                        </div>
                    </div>
                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>


    <!-- Include all JavaScripts, compiled by Assetic -->
    {% javascripts 'bundles/beubidemo/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}