{% extends 'BeubiDemoBundle::layout.html.twig' %}

{% block demo_form %}<li class="active"><a href="{{ path('workouts') }}">Workouts</a></li>{% endblock %}

{% block content %}

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li class="active">New Workout</li>
        </ol>
        <br />
        <div class="row">

            <!-- Article main content -->
            <article class="col-md-12 maincontent">
                {{ form_start(form, { 'style': 'horizontal' }) }}
                <br />
                <div class="hidden">
                {{ form_row(form.timestamp, { 'attr': {'class': ''} }) }}
                </div>
                {{ form_row(form.title, { 'attr': {'class': 'form-control', 'placeholder' : 'Workout title'} }) }}
                <br />
                {{ form_row(form.distance, { 'attr': {'class': 'form-control', 'placeholder' : 'Distance in KM'} }) }}
                <br />
                {{ form_row(form.duration, { 'attr': {'class': 'form-control', 'placeholder' : 'HH:mm:ss'} }) }}
                <br />
                {{ form_row(form.description, { 'attr': {'class': 'form-control', 'placeholder' : 'Describe your workout'} }) }}
                <br />
                {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
                {{ form_end(form) }}
            </article>
            <!-- /Article -->

        </div>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
    </div>	<!-- /container -->

{% endblock %}
